
body{
	background-color: #EEF2FB;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	font-size:12px;
	font-family: 微软雅黑;
}
img{
border:0;	
}
input{
	vertical-align: middle;
	height:18px;
	line-height: 18px;
}
.sel{
	height:25px;
	line-height: 25px;	
 	vertical-align: middle;
}
.sub {
height:25px;
line-height: 25px;
border:none;
cursor: pointer;
}
.button_01{
width:60px;	
height:24px;
color:#fff;
background: url('../../images/button_bj/01.gif') no-repeat;
border:none;
cursor: pointer;
}
.button_02{
width:100px;	
height:28px;
color:#000;
background: url('../../images/button_bj/02.gif') no-repeat;
border:none;
cursor: pointer;
}
.button_04{
width:100px;	
height:28px;
color:#fff;
background: url('../../images/button_bj/04.gif') no-repeat;
border:none;
cursor: pointer;
}
.button_09{
width:130px;	
height:32px;
color:#fff;
background: url('../../images/button_bj/09.gif') no-repeat;
border:none;
cursor: pointer;
}
.button_19{
width:152px;	
height:27px;
color:#000;
background: url('../../images/button_bj/19.gif') no-repeat;
border:none;
cursor: pointer;
}
.button_26{
width:94px;	
height:22px;
color:#fff;
background: url('../../images/button_bj/26.gif') no-repeat;
border:none;
cursor: pointer;
}
.button_27{
width:57px;	
height:25px;
color:#fff;
background: url('../../images/button_bj/27.gif') no-repeat;
border:none;
cursor: pointer;
}
.button_32{
width:130px;	
height:32px;
color:#fff;
background: url('../../images/button_bj/32.gif') no-repeat;
border:none;
cursor: pointer;
}
.button_33{
width:137px;	
height:32px;
color:#fff;
background: url('../../images/button_bj/33.gif') no-repeat;
border:none;
cursor: pointer;
}
.button_34{
width:125px;	
height:30px;
color:#fff;
background: url('../../images/button_bj/34.gif') no-repeat;
border:none;
cursor: pointer;
}
.button_52{
width:37px;	
height:22px;
color:#000;
background: url('../../images/button_bj/52.gif') no-repeat;
border:none;
cursor: pointer;
}
.button_61{
width:62px;	
height:23px;
color:#fff;
background: url('../../images/button_bj/61.gif') no-repeat;
border:none;
cursor: pointer;
}
.button_63{
width:70px;	
height:29px;
color:#fff;
background: url('../../images/button_bj/63.gif') no-repeat;
border:none;
cursor: pointer;
}
.button_69{
width:102px;	
height:24px;
color:#fff;
background: url('../../images/button_bj/69.gif') no-repeat;
border:none;
cursor: pointer;
}
.button_77{
width:64px;	
height:24px;
color:#fff;
background: url('../../images/button_bj/77.gif') no-repeat;
border:none;
cursor: pointer;
}
.button_89{
width:72px;	
height:23px;
color:#fff;
background: url('../../images/button_bj/89.gif') no-repeat;
border:none;
cursor: pointer;
}
.button_90{
width:81px;	
height:23px;
color:#000;
background: url('../../images/button_bj/90.gif') no-repeat;
border:none;
cursor: pointer;
}
.button_92{
width:44px;	
height:20px;
color:#fff;
background: url('../../images/button_bj/92.gif') no-repeat;
border:none;
cursor: pointer;
}
.button_93{
width:64px;	
height:23px;
color:#fff;
background: url('../../images/button_bj/93.gif') no-repeat;
border:none;
cursor: pointer;
}
.button_102{
width:105px;	
height:23px;
color:#fff;
background: url('../../images/button_bj/102.gif') no-repeat;
border:none;
cursor: pointer;
}
.button_104{
width:64px;	
height:22px;
color:#000;
background: url('../../images/button_bj/104.gif') no-repeat;
border:none;
cursor: pointer;
}
.button_105{
width:110px;	
height:37px;
color:#fff;
background: url('../../images/button_bj/105.gif') no-repeat;
border:none;
cursor: pointer;
}
.button_pic{
width:32px;	
height:32px;
color:#fff;
background: url('../../images/sucai/111.png') no-repeat;
border:none;
cursor: pointer;	
}	
.link4{
border: 1px solid green;
background:#F8FAFC;
padding: 2px;
}

.login_top_bg {
	background-image: url(../../images/backstage/login-top-bg.gif);
	background-repeat: repeat-x;
}

.login-buttom-bg {
	background-image: url(../../images/backstage/login-buttom-bg.gif);
	background-repeat: repeat-x;
}
.login-buttom-txt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #ABCAD3;
	text-decoration: none;
	line-height: 20px;
}
.login_txt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 25px;
	color: #333333;
}
.Submit {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #629DAE;
	text-decoration: none;
	background-image: url(../../images/backstage/Submit_bg.gif);
	background-repeat: repeat-x;
}
.login_bg {
	background-image: url(../../images/backstage/login_bg.jpg);
	background-repeat: repeat-x;
}
.login_bg2 {
	background-image: url(../../images/backstage/login-content-bg.gif);
	background-repeat: no-repeat;
	background-position: right;
}

.admin_txt {
	font-family: 楷体;
	font-size: 30px;
	font-weight:bold;
	color: #E7E5E2;
	text-decoration: none;
	height: 70px;
	line-height: 70px;
}
.top_main{
width:100%;
height:70px;
margin:0 auto; 
}
.top-bu-bg{
background:url(../../images/backstage/top-bu-bg.gif);	 
}

.login_txt_bt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 25px;
	color: #666666;
	font-weight: bold;
}
.admin_topbg {
	height:70px;
	width:100%;
	background: #262626;
}
.txt_bt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 25px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.left_topbg {
	background-image: url(../../images/backstage/content-bg.gif);
	background-repeat: repeat-x;
}
.admin_toptxt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #4A8091;
	height: 18px;
	width: 100%;
	overflow: hidden;
	position: 固定;
}

.left_bt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #395a7b;
}
.left_bt2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 25px;
	font-weight: bold;
	color: #333333;
}
.titlebt {
	font-size: 12px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
	background-image: url(../../images/backstage/top_bt.jpg);
	background-repeat: no-repeat;
	display: block;
	text-indent: 15px;
	padding-top: 5px;
}

.left_txt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 25px;
	color: #666666;
}
.left_txt2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 25px;
	color: #000000;
}
.nowtable {
	background-color: #e1e5ee;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-top-color: #bfc4ca;
	border-right-color: #bfc4ca;
	border-bottom-color: #bfc4ca;
	border-left-color: #bfc4ca;
}
.left_txt3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 25px;
	color: #003366;
	text-decoration: none;
}



.left_ts {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 25px;
	font-weight: bold;
	color: #FF6600;
}
.line_table {
	border: 1px solid #CCCCCC;
}
.sec1 {
	CURSOR: hand;
	COLOR: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 25px;
	border: 1px solid #B5D0D9;
	background-image: url(../../images/backstage/right_smbg.jpg);
	background-repeat: repeat-x;
}
.sec2 {
	FONT-WEIGHT: bold;
	CURSOR: hand;
	COLOR: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 25px;
	background-color: #e2e7ed;
	border: 1px solid #e2e7ed;
}
.main_tab {
	COLOR: #000000;
	BACKGROUND-COLOR: #e2e7ed;
	border: 1px solid #e2e7ed;
}
.MM a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 26px;
	color: #666666;
	background-image: url(../../images/backstage/menu_bg.gif);
	background-repeat: no-repeat;
	list-style-type: none;
	list-style-image: none;
}
a:link {
	font-size: 12px;
	line-height: 25px;
	color: #333333;
	text-decoration: none;
}
a:hover {
	font-size: 12px;
	line-height: 25px;
	color: #666666;
	text-decoration: none;
}
a:visited {
	font-size: 12px;
	line-height: 25px;
	color: #333333;
	text-decoration: none;
}


.MM a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 26px;
	color: #666666;
	background-image: url(../../images/backstage/menu_bg.gif);
	background-repeat: no-repeat;
	list-style-type: none;
	list-style-image: none;
}


#listtable{width:100%;border-collapse: collapse; background-color:#FFFFFF;}
#listtable td,th{ height:30px; text-align:center;}
#listtable th{ background:#F2F2F2;}
#listtable .hovertr:hover{background:#eeeeee;}

#addeditable{width:100%;border-collapse: collapse; background-color:#FFFFFF}
#addeditable td{ height:30px;}

#addeditable ul{list-style:none; margin:0px; line-height:30px; margin-left:5px; padding-bottom:5px}

#content{width:700px;height:200px;}

.input-text{height:18px; line-height:16px;margin:0 5px 0 0; padding-left:2px;border: 1px solid #d0d0d0;background: #FFF ;}
textarea{line-height:16px;margin:0 5px 0 0; padding-left:2px;border: 1px solid #d0d0d0;background: #FFF ; font-family: Verdana, Geneva, sans-serif,"宋体";font-size:12px;}

.explain-col{ border:1px solid #ffbe7a;zoom:1; background: #fffced; padding:8px 10px; line-height:20px}
.explain-col a{ text-decoration:underline}
#listtable tr th a{ color:#03F}

.auto {display:block; height:31px; float:left}
.auto span { cursor:pointer; letter-spacing:2px; background:url("../../images/backstage/top_bt.gif") no-repeat scroll left top transparent; color:#000; display:block; float:left; height:29px; line-height:35px; padding-left:6px;  }
.auto span b {font-family:arial, sans-serif; font-weight:normal; margin-right:2px; font-size:12px; font-weight:bold }
.auto i { background:url("../../images/backstage/top_bt.gif") no-repeat scroll left bottom transparent; display:block; float:left; height:29px; width:5px; }
.auto span b a{ font-weight:bold; text-decoration:none}

.auto1{display:block;height:31px;float:left}
.auto2{display:block; height:26px; overflow:hidden; float:left}

.auto1 span {cursor:pointer;letter-spacing:2px;background:url("../../images/backstage/top_bt.gif") no-repeat scroll left top transparent;color:#000;display:block;float:left;height:29px;line-height:35px;padding-left:6px;}
.auto2 span {cursor:pointer;letter-spacing:2px;background:url("../../images/backstage/top_bt2.gif") no-repeat scroll left top transparent; color:#000; display:block; float:left; height:29px; line-height:35px; padding-left:6px;  }

.auto1 span b {font-family:arial, sans-serif;font-weight:normal;margin-right:2px; font-size:12px;font-weight:bold }
.auto2 span b {font-family:arial, sans-serif;font-weight:normal;margin-right:2px; font-size:12px;font-weight:normal }

.auto1 i {background:url("../../images/backstage/top_bt.gif") no-repeat scroll left bottom transparent;display:block;float:left;height:29px;width:5px;}
.auto2 i {background:url("../../images/backstage/top_bt2.gif")no-repeat scroll left bottom transparent;display:block;float:left;height:29px;width:5px;}

.auto1 span b a{font-weight:bold; text-decoration:none}
.auto2 span b a{ font-weight:normal; text-decoration:none;}

.bigtext {
	COLOR: #333333; FONT-SIZE: 12px; LINE-HEIGHT: 22px; TEXT-DECORATION: none; 
}
.permitdiv{
line-height: 24px;
}
.permit1{
font-size: 14px;
font-family: 宋体;
font-weight: bold;
color: #111;
}
.permit2{
font-size: 14px;
font-family: 宋体;
font-weight: 400;
color: #333;
margin-left: 20px;
}
.permit3{
font-size: 12px;
font-family: 宋体;
color: #777;
}
.right_nav{
width:200px;
height:200px;
float: left;
border:1px solid #CCCCCC;
margin-left:10px;
margin-bottom: 10px;
}
.right_nav_pic a{
width:280px;
height:175px;
float: left;
}
.right_nav_pic a:hover{
    opacity: 0.5; 
}	
	
.right_nav_title{
width:200px;
height:25px;
line-height:25px;
font-size:14px;
font-family:宋体;
font-weight:bold;
float: left;
background: #fff;
text-align: center;
}
.ss_td{
height:25px;
line-height: 25px;
padding-top: 10px;
}

.zhushi {color:#999}
.zhushi a { color:#09F}
.zhushi:hover{ color:#666}
.zhushi a:hover { color:#00F}
