<?xml version='1.0' encoding='UTF-8'?>  
<!DOCTYPE hibernate-configuration PUBLIC  
         "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">  
  
<hibernate-configuration>  
    <session-factory>  
  		<!-- oracle版本 
		<property name="dialect">org.hibernate.dialect.OracleDialect</property>
	    -->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>  
        <property name="connection.autocommit">true</property>
        <property name="autoReconnect">true</property>  
        <property name="hbm2ddl.auto">update</property>  
        <property name="show_sql">true</property>  
        <property name="connection.useUnicode">true</property>  
        <property name="connection.characterEncoding">UTF-8</property>  
        <!-- 配置二级缓存 -->  
        <property name="cache.use_second_level_cache">true</property>  
        <property name="cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>  
        <!-- hibernate3的二级缓存配置 -->  
        <!-- <property name="cache.provider_class">org.hibernate.cache.EhCacheProvider</property> -->  
        <!-- 开启查询缓存 -->  
        <property name="cache.use_query_cache">true</property>  
		<!-- 读：大大节省了无谓的内存消耗。当然Fetch Size设的越大，读数据库的次数越少，将严重影响Hibernate的CRUD性能(C = create, R = read, U = update, D = delete),MySQL不支持 -->
		<property name="jdbc.fetch_size">50</property>
		<!-- 取 ：批量删除，批量更新和批量插入的时候的批次大小，batch_size设的越大，将严重影响Hibernate的CRUD性能(C = create, R = read, U = update, D = delete),读数据库的次数越少,MySQL不支持-->
		<property name="jdbc.batch_size">30</property>
		<!-- 索引配置 -->  
         <property name="hibernate.search.default.directory_provider">  
             org.hibernate.search.store.impl.FSDirectoryProvider   
         </property>  
         <property name="hibernate.search.default.indexBase">  
            c:/dbcV3/hibernateIndex
         </property>
         <!-- event是自动，manual是手动建索引  -->
         <property name="hibernate.search.indexing_strategy">event</property>
         
        
         
    </session-factory>  
</hibernate-configuration>  